[access]
	inheritFrom = All-Projects
[project]
	description = Kubernetes Play
[access "refs/*"]
	owner = group kubedge-admin
	create = group kubedge-admin
	forgeAuthor = group Registered Users
	pushMerge = group kubedge-admin
	editTopicName = group kubedge-admin
	push = group kubedge-admin
[access "refs/for/refs/*"]
	read = group Registered Users
	push = group Registered Users
	rebase = group Registered Users
	submit = group kubedge-admin
	submit = group kubedge-approvers
[access "refs/heads/*"]
	push = group kubedge-admin
	pushMerge = group kubedge-admin
	label-Code-Review = -2..+2 group kubedge-admin
	label-Code-Review = -2..+2 group kubedge-approvers
	label-Code-Review = -1..+1 group Registered Users
	rebase = group Registered Users
	submit = group kubedge-admin
[access "refs/tags/*"]
	push = group kubedge-admin
